
@media all and (max-width: 1000px) {
    .header{
        width: 100%;
    }
    
    
    footer{
width: 100%;
    }
}


@media  all and  (max-width: 670px) {
   
    .header {
        text-align: center;
        width: 90%;
        font-size: 20px;
        float: right;
        margin-left: 25px;
      }

      .header-right{
        display:none;
      }
      .menu-icon{
        display: block;
      }

      footer {
        width: 100%;
        font-size: 20px;
        background-color: rgb(45,56,64)
      }

      .footer-list {
        float: right;
      }

      .footer-list li {
        padding-bottom: 20px;
        list-style: none;
        float: none;
        padding: 0px 20px 10px 10px;
        color: white;
        font-size: 20px;
      }
      .footer-logo{
          font-size: 20px;
      }
      
    }
   
   
   
   
   
    
    
    